.player .ui-grid-a .ui-block-a {
	width: 50%
}

.player .ui-grid-a .ui-block-b {
	width: 50%;
}

.player .ui-br {
	border: none;
}

.player h2 {
	padding-bottom: 0;
	margin-bottom: 0;
	padding-top: 0;
	font-size: 1.8em;
}

.in-progress .buttons {
	display: none;
}

.in-progress .ui-block-a {
	opacity: 0.2;
}

.ui-btn {
	padding: 12px;
}

.buttons {
	text-align: right
}

.scores {
	font-size: 0.8em;
	text-align: right;
}

.scores .accuracty {
	font-size: 1.2em;
}

.scores .attempts {
	color: #666;
}

h1 {
	margin: 20px;
	color: navy;
	text-align: right;
}

.ui-loader h1 {
	color: white;
}

.sub {
	margin: 0;
	padding: 0
}

