.player {
	padding: .3em 5px .1em 5px !important;
}

.player .ui-grid-a .ui-block-a {
	width: 56%;
	text-align: right;
}

.player .ui-grid-a .ui-block-b {
	width: 44%;
}

.player .ui-br {
	border: none;
}

.player h2 {
	padding-bottom: 0;
	margin-bottom: 0;
	padding-top: 0;
	font-size: 1.8em;
	margin-top: 0.2em;
}

.in-progress .buttons {
	display: none;
}

.in-progress .ui-block-a {
	opacity: 0.2;
}

.ui-btn {
	padding: 12px;
}

.ui-icon-plus {
	background-color: rgba(255, 164, 0, 0.8);
} 

.buttons {
	text-align: right;
	padding-top: 6px;
}

.scores.total {
	position: relative;
	top: -5px;
	color: #666;
}

.scores {
	font-size: 0.8em;
	text-align: right;
}

.scores.recent {
	font-size: 1.2em;
	position: relative;
	top: 0px;
	color: #FFA400;
}

.title {
	padding: 10px 5px;
	text-align: right;
}

.title span {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 3em;
	font-weight: bold;
	color: #4E10AE !important;
	padding-right: 6px;
}

.title img {
	padding: 6px;
	vertical-align: -10px;
}

.ui-loader h1 {
	color: white;
}

.sub {
	margin: 0;
	padding: 0
}

.score-image {
	opacity: .3;
	top: 35px;
	left: 10px;
	width: 55px;
}

.graph {
	position: absolute;
	top: -3px;
	opacity: .7;
}

.playerLine path {
	fill: none;
	stroke-width: 2px;
}

.playerLine text {
	font-size: 0.8em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis text {
	display: none;	
}

.axis {
	font-size: 0.8em;
}

.graph svg {
	border-radius: 2px;
}
